.App {
  background: var(--clr-background);
  font-weight: var(--fw-sm);
  height: 100vh;
  display: grid;
  grid-template: auto 1fr / 1.5fr 2fr 3fr;
}
a {
  text-decoration: none;
  font-size: var(--fs-sm);
  /* font-weight: var(--fw-link);
  color: var(--clr-white); */
}
ul {
  list-style: none;
}

h1 {
  font-size: var(--fs-h1);
  /* font-weight: var(--fw-title); */

  text-align: center;
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-md);
}
a,
h2,
h1,
.btn {
  text-transform: capitalize;
}
.btn {
  appearance: none;
  border: 0;
  padding: var(--spacing-sm);
  border-radius: var(--br-round);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
}
.btn--primary {
  color: var(--clr-top--light);
  background: var(--clr-button--primary);
}
.btn--secondary {
  background: var(--clr-button--secondary);
  color: var(--clr-button--primary);
  box-shadow: inset 0 0 0 2px var(--clr-button--primary);
}
.btn--icon {
  padding: var(--spacing-xs);
  background: transparent;
}
button:hover {
  filter: brightness(90%);
}
button:focus:not(:active) {
  box-shadow: 0 0 0 3px currentColor;
}

/*=============================================
=            header            =
=============================================*/
header {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-sm);
  background: var(--clr-header);
  grid-row: 1;
  grid-column: 1/-1;
}
header > button {
  margin-inline-start: auto;
}
.section-selectable__lists {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-selectable__lists ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.section-selectable__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: var(--spacing-xs);
  background: var(--clr-list-item);
  box-shadow: var(--shadow-card);
  border-radius: var(--br-round);
  overflow: hidden;
}

.selectable__item__content {
  flex: 1;
  margin-inline-start: var(--spacing-sm);
}
.selectable__item__edit-icons {
  display: flex;
}

.dragging {
  filter: brightness(80%);
}
.dragging-over {
  box-shadow: inset 0 0 0 2px red;
}

.icon--drag {
  cursor: move;
  margin: var(--spacing-xs);
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm) var(--spacing-sm);
  background: var(--clr-footer);
}
.preview__window {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  grid-column: 3;
}
.preview__doc {
  flex: 1 0 50%;
  background: var(--clr-preview);
  box-shadow: var(--shadow-card);
  border-radius: var(--br-round);
}
.preview__footer > button {
  flex: 1 0 auto;
}
.nav__menu {
  display: flex;
  gap: var(--spacing-sm);
}
.menu__link {
  color: var(--clr-top--light);
}
.form {
  grid-row: 2;
  grid-column: 2;
}
form {
  background: var(--clr-form);
  padding: var(--spacing-sm);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: minmax(min-content, max-content);
  gap: var(--spacing-xs);
  box-shadow: var(--shadow-card);
  border-radius: var(--br-round);
  overflow-y: auto;
}
.section-container {
  padding: var(--spacing-sm) var(--spacing-sm);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.logo {
  color: white;
}

.label--col {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.label--row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.avatar__display {
  border-radius: var(--br-circle);
  border: 1px solid var(--clr-input);
  height: 80px;
  width: 80px;
}
.avatar__display.square {
  border-radius: unset;
}

label[for='avatar'] {
  padding: var(--spacing-xs);
  display: inline-grid;
  grid-template-areas: 'label';
  place-items: center;
  border-radius: var(--br-round);
  cursor: pointer;
  background: var(--clr-button--secondary);
  color: var(--clr-button--primary);
  box-shadow: inset 0 0 0 2px var(--clr-button--primary);
  text-transform: capitalize;
}
.avatar__input {
  opacity: 0;
  width: 0;
  height: 0;
  padding: unset;
  grid-area: label;
}
label[for='avatar'] > span {
  grid-area: label;
}
.avatar__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.avatar__configuration {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input[role='switch'] {
  appearance: none;
  box-sizing: content-box;
  --switch-inline-size: 2.6rem;
  --switch-block-size: calc(var(--switch-inline-size) / 2);
  block-size: var(--switch-block-size);
  inline-size: var(--switch-inline-size);
  border-radius: var(--br-pill);
  box-shadow: inset 0 0 0 2px var(--clr-button--primary);
  flex-shrink: 0;
  display: grid;
  align-items: center;
  grid-template-areas: 'checkbox';
  cursor: pointer;
  position: relative;
  padding: 0.3em;
}
input[role='switch']::before {
  --thumb-size: var(--switch-block-size);
  content: '';
  grid-area: checkbox;
  inline-size: var(--thumb-size);
  block-size: var(--thumb-size);
  border-radius: var(--br-circle);
  background: var(--clr-button--primary);
  transition: all 0.2s;
}
input[role='switch']:hover::before {
  box-shadow: var(--shadow--states-lg) var(--clr-black-15);
}
input[role='switch']:checked {
  border-radius: unset;
}
input[role='switch']:checked::before {
  transform: translateX(100%);
  border-radius: unset;
}
input[role='switch']:checked:focus {
  outline: 0;
  box-shadow: inset 0 0 0 2px var(--clr-button--primary);
}
label {
  cursor: pointer;
  text-transform: capitalize;
  font-size: var(--fs-sm);
}
textarea {
  resize: none;
  height: 20ch;
  max-width: 100%;
}
.input__wrapper {
  display: inline-flex;
  align-items: center;
  border-radius: var(--br-round);
  border: 1px solid var(--clr-input);
  overflow: hidden;
  cursor: text;
  padding-inline-end: var(--spacing-xs);
}
.input__wrapper.icon-end {
  flex-direction: row-reverse;
}
.input__wrapper:is(:focus, :focus-within) {
  border-color: var(--clr-input--focus);
}
/* .input__wrapper:hover {
  border-color: var(--clr-input--focus);
} */

.input__wrapper.icon-start {
  padding-inline-start: var(--spacing-xs);
}
.input__wrapper > input:focus {
  border: unset;
}
input:not([role='switch']) {
  border-radius: var(--br-round);
  padding: var(--spacing-xs);
  font-size: var(--fs-sm);
  border: 1px solid var(--clr-input);
  flex: 1;
}
input:focus {
  border-color: var(--clr-input--focus);
}
.input__wrapper > input {
  border-radius: unset;
  pointer-events: none;
  appearance: none;
  border: 0;
}
.input__wrapper > span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xs);
  height: 100%;
  background: var(--clr-background);
  text-transform: lowercase;
}

/*=============================================
=            Section comment block            =
=============================================*/

/*=============================================
=            contact information            =
=============================================*/

.preview__contactInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preview__contact__name {
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
}
.preview__contact__title {
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: center;
}
.preview__contact__details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.preview__contact__detail {
  font-size: 0.7rem;
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
}
.preview__contact__detail:not(:first-child)::before {
  content: '';
  block-size: 0.9rem;
  inline-size: 1px;
  background: #000;
}

/*=============================================
=            about me preview            =
=============================================*/

.preview__aboutMe {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.preview__about__header {
  font-size: 1rem;
}

.preview__selected {
  position: relative;
}
.preview__about__text {
  font-size: 0.9rem;
}
.preview__selected::before {
  content: '';
  position: absolute;
  inset: 0;
  border: 1px solid red;
}
.preview__section {
  padding-inline: 1rem;
}
